@using Models
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper
@inject Services.Interfaces.IMatrixService SelectorMatrixService

<h3>MatrixGenerator</h3>

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
        
    <p>
        <label for="rows-a">Matrix A Rows: </label>
        <InputSelect id="rows-a" @bind-Value="starship.RowsA">
            <option value="">Select number of rows in matrix A...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </InputSelect>
    </p>
    <p>
        <label for="columns-a">Matrix A Columns: </label>
        <InputSelect id="columns-a" @bind-Value="starship.ColumnsA">
            <option value="">Select number of columns in matrix A...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </InputSelect>
    </p>

    <p>
        <label for="rows-b">Matrix B Rows: </label>
        <InputSelect id="rows-b" @bind-Value="starship.RowsB">
            <option value="">Select number of rows in matrix B...</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </InputSelect>
    </p>
    <button type="submit">Submit</button>

    <p>
        <a href="http://xconcentration.com">&copy;2019 Xconcentration Ltd</a>
    </p>
</EditForm>

@code {
    private MatrixSelectorModel starship = new MatrixSelectorModel();

    private void HandleValidSubmit()
    {
        var route = $"/MatrixReviewer/{starship.RowsA}/{starship.ColumnsA}/{starship.RowsB}";
        UriHelper.NavigateTo(route);
    }
}
